.channel-wrapper {
    padding-left: 0;
    background-color: #4e5250;
    height: 90vh;
}

.dark-back, .panel-default > .dark-back {
    background-color: #4e5250;
    border: 0;
    color: white;
    font-weight: 700;
}

.dark-back .panel-body {
    padding: 0;
}
