.navbar-wrapper {
    margin-bottom: 0;
    border: 0;
}

.company-header {
    background-color: #4e5250;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .nav-brand {
    color: white;
}

.navbar-default .nav-brand:hover {
    color: wheat;
}
