.postWrapper {
    height: calc(90vh - 250px);
    overflow-y: scroll;
    position: absolute;
}

.back {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 20;
    background: white;
}
